<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>

 
<div class="jumbotron text-center">
  <div class="container">
   <h2> Welcome to Chat 210 !!! </h2>
  </div>
</div>


</body>
</html>
